body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: black;
}

.one{
    color: #0066cc;
}
.two{
    color: red;
}
p {
    line-height: 1.6;
    
}

ul {
    padding: 0;
    
}

li {
    margin-bottom: 10px;
    
}

.section {
    margin-bottom: 20px;
}

.skills {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}
.name{
font-size: 120%;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}
